#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_banner
    .wrapper
      .callout 
        %h2 Organize 
        %p Aliquam erat volutpat. Quisque mollis ex libero, at placerat ante euismod a.Ut sodales ipsum nisi, vitae pharetra ligula porttitor a. Nam tempus nibh eget augue faucibus, a faucibus ex vehicula. Donec id porta velit. Nulla varius quam vel mauris auctor volutpat. Pellentesque eget sapien rhoncus, eleifend orci nec,bibendum tortor.    
#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br 
    %button= link_to "Join Now", new_user_registration_path                        